@model IEnumerable<SehirDetay.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Yonetici.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UstKategoriId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rgt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UstKategoriId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rgt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aktif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
